data/config
data/models
data/sprite
llm/__pycache__
runtime/
/__pycache__
*.pyc
/data
/out
/output
/build
/dist
/logs
/temp_export_*
/ui/settings_ui/__pycache__
/ui/settings_ui/.gitignore
/ui/settings_ui/images
/scripts
/packaging
/build_exe
/assets/system/models
/cache
/onnx
