.DS_Store
.idea/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

data/
runtime/
!core/runtime
!core/runtime/**
core/runtime/__pycache__/
out/
output/
build/
dist/
logs/
temp_export_*
packaging/
build_exe/
assets/system/models/
cache/
cache\\audio\\*
onnx/
plugins/
realtimesst.log

.claude/settings.local.json
.local/
.\cache\audio/
.\cache\images/
cache\audio\*
