numpy
pygame
openai
opencc-python-reimplemented
pydantic
requests
google-genai
tiktoken
anthropic
PySide6-Essentials
qrcode[pil]
cryptography
pyobjc-framework-AVFoundation; sys_platform == "darwin"
QtPy>=2.4.1
pyyaml
fal-client
gpu-list
py7zr
edge-tts
hermes-agent @ git+https://github.com/NousResearch/hermes-agent.git@0f0e20ef81709a6dd590b25af380b116db67628c
