numpy
pygame
openai
opencc-python-reimplemented
pydantic
requests
google-genai
tiktoken
anthropic
PySide6-Essentials
qrcode[pil]
cryptography
pyobjc-framework-AVFoundation; sys_platform == "darwin"
QtPy>=2.4.1
pyyaml
fal-client
gpu-list
py7zr
edge-tts
