numpy
pygame
opencv_python
openai
opencc-python-reimplemented
pydantic
pandas
requests
onnxruntime
rembg
google-genai
tiktoken
pyaudio
anthropic
PySide6
qrcode[pil]
cryptography
pyobjc-framework-AVFoundation; sys_platform == "darwin"
QtPy>=2.4.1
pyqt-toast-notification>=1.3.3
pyyaml
vosk; platform_system != "Darwin" or platform_machine != "arm64"
faster-whisper
RealtimeSTT
fal-client
gpu-list
py7zr
edge-tts
hermes-agent @ git+https://github.com/NousResearch/hermes-agent.git@0f0e20ef81709a6dd590b25af380b116db67628c
